.icontext {
    display: flex;
    align-items: center;
}

.bgdiv {
    background-color: rgb(251, 251, 251);
}

.maindiv {
    display: grid;
    grid-template-columns: 40% 60%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
    height: calc(100vh - 89px);
    background-color: white;
}

.text {
    padding-left: 20px;
}

.pdescription {
    color: gray;
    font-size: 15px;
    margin-bottom: 0px;
}

.mhe {
    margin-top: 20px;
}

.heading {
    margin-bottom: 0px;
}

.descriptiondiv {
    margin-top: 10px;
    margin-bottom: 50px;
}

.buttongroup {
    display: flex;
}

.buttono {
    padding: 7px 40px;
    border-radius: 15px;
    background-color: rgb(255, 170, 0);
    border: none;
    color: white;
}

.buttonS {
    padding: 7px 40px;
    border-radius: 15px;
    margin-left: 10px;
    border: none;
    background-color: hsl(40.91deg 100% 87.06%);
    color: hsl(39.39deg 94.29% 58.82%);
}

.firstitem {
    background-color: rgb(255, 170, 0);
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.Menuitemdiv {
    /* width: 100px; */
    height: 80px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.itemtext {
    font-size: 10px;
}

.searchdiv {
    margin: 20px 0px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.searchicon {
    padding-left: 10px;
    color: rgb(169, 167, 167);
}

.searchfiled {
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    outline: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0px 20px;
}

.list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    border: none !important;
    border-radius: 20px !important;
    height: 250px;
}

.card-body {
    padding: 7px 10px !important;
}

.remove_ci {
    color: rgb(255, 170, 0) !important;
    font-size: 25px !important;
    margin: 0px 10px;
}

.td1 {
    width: 170px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px !important;
    text-align: start;
}

.td2 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.td3 {
    font-size: 19px;
    text-align: center;
    font-weight: 500;

}

.td4 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;

}

.cancelbtn {
    background-color: red;
    color: white;
    padding: 10px 30px;
    width: 100% !important;
    border-bottom: none;
    border: none;
}

.cancelbtn:active {
    transform: translateY(2px);
}

.orderbtn {
    background-color: hsl(147.45deg 100% 30%);
    color: white;
    width: 100% !important;
    padding: 10px 30px;
    border-bottom: none;
    border: none;
}

.orderbtn:active {
    transform: translateY(2px);
}

.contentp {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 89px);
    background-color: white;
}

.divPY {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 25px;
}

.radiobtn1 {
    display: flex;
}

.radiobtn {
    display: flex;
    align-items: center;
}

.rdiv {
    margin-right: 50px;
}

.rdivfir {
    margin-right: 80px;
}

.form-check-input:checked {
    background-color: rgb(255, 170, 0) !important;
    border-color: rgb(255, 170, 0) !important;
}

.checkcolor {
    margin-right: 10px;
}

.form-select {
    width: 40% !important;
    /* width: min-content; */
    color: rgb(255, 170, 0) !important;
    border: none !important;
    outline: none !important;
}

.name {
    border-radius: 20px;
    background-color: rgb(251, 251, 251);
    padding: 15px 20px;
    margin-bottom: 20px;
    border-color: rgb(251, 251, 251);
    border: none;
    outline: none;
    font-size: 18px;
}

.number {
    border-radius: 20px;
    background-color: rgb(251, 251, 251);
    padding: 15px 20px;
    border-color: rgb(251, 251, 251);
    border: none;
    outline: none;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .maindiv {
        display: flex;
        flex-direction: column;
    }

    #gridL {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .content {
        padding: 20px 0px;
        padding-left: 20px;
        margin-bottom: 20px;
        align-items: center;
    }

    .td1 {
        width: auto;
    }

    .form-select {
        margin-left: 50px !important;
    }

    .contentp {
        height: fit-content !important;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width:770px) {
    #gridL {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .content {
        height: 100%;
        padding-left: 30px;
        justify-content: flex-start;
        padding-top: 150px;
    }

    .remove_ci {
        font-size: 20px !important;
        margin: 0px 5px;
    }

    .td1 {
        width: 145px;
    }

    .rdiv {
        margin-right: 15px;
    }

    .rdivfir {
        margin-right: 45px;
    }

    .form-select {
        margin-left: 9px !important;
    }
}

@media screen and (max-width: 430px) {
    .maindiv {
        display: flex;
        flex-direction: column;
    }

    #gridC {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;

    }

    #gridL {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .columnother {
        width: 32% !important;
    }

    .td1 {
        width: 120px;
    }

    .remove_ci {
        font-size: 22px !important;
        margin: 0px 0px !important;
    }

    .rdiv {
        margin-right: 15px;
    }

    .rdivfir {
        margin-right: 45px;
    }

    .form-select {
        margin-left: 16px !important;
    }
}

@media screen and (max-width: 1700px) and (min-width:1030px) {
    .form-select {
        margin-left: 50px !important;
    }
}

@media screen and (max-width: 1110px) and (min-width:1030px) {
    .td1 {
        width: 140px;
    }
}

.offcanvas {
    margin-top: 65px !important;
    width: 250px !important;
}

ul {
    padding-left: 0px !important;
    margin-bottom: 30px !important;
}

.menuicon {
 margin-right: 15px;
}

.listmenu {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #b3b3b5;
    font-weight: 500;
}
.clobtn{
    display: flex;
    justify-content: center;
    align-items: center;
}