.mainDiv {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    background-color: #eaf3fa !important;
    height: 100vh;
}

.leftM {
    display: grid;
    grid-template-rows: 50% 50%;
    height: -webkit-fill-available;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcl {
    display: flex;
    align-items: flex-end;
}

.logoimg {
    width: 700px;
}

.right {
    background-color: rgb(251, 251, 251);
}
.formhide{
    display: none;
}
.mbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: white;
    width: 600px;
    margin-left: -50px;
    border-radius: 15px;
    padding: 90px;

}

.loginconent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3teg {
    margin-bottom: 40px;
    font-weight: 700;
}

.formdetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.number {
    border-radius: 20px;
    background-color: rgb(251, 251, 251);
    padding: 15px 20px;
    border-color: rgb(251, 251, 251);
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 18px;
}

.otp {
    border-radius: 20px;
    background-color: rgb(251, 251, 251);
    padding: 15px 20px;
    border-color: rgb(251, 251, 251);
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 10px !important;
}

.loginbtn {
    padding: 7px 50px;
    border-radius: 15px;
    background-color: rgb(255, 170, 0);
    border: none;
    color: white;
}

@media screen and (max-width: 1700px) and (min-width:1030px) {
    .box {
        width: 650px;
        padding: 100px;
    }
}

@media screen and (max-width: 1030px) and (min-width:770px) {
    .logoimg {
        width: 530px;
        height: -webkit-fill-available;
        margin-left: -30px;
    }

    .box {
        width: 500px;
        padding: 80px;
    }
}

@media screen and (max-width: 770px) and (min-width:430px) {
    .logoimg{
        width: 380px;
        height: -webkit-fill-available;
        margin-left: -30px;
    }
    
    .box {
        width: 400px;
        padding: 60px;
    }
}
@media screen and (max-width: 430px) and (min-width:300px) {
.logoimg{
    width: 450px;
    height: -webkit-fill-available;
    margin-left: -30px;
}
.box{
    width: 330px;
    padding: 40px;
}
.heading{
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mainDiv{
    display: grid;
    grid-template-columns: 100%
}
.right{
    display: none;
}
.formhide{
    display: block;
}
.loginconent{
    margin-top: 30px;
}
}